<header class="header">
    <nav class="nav">
        <div class="logo">
            {{- $label_text := (site.Params.logo.text | default site.Title) }}
            {{- if site.Title }}
            <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ $label_text }} (Alt + H)">
                {{- if site.Params.logo.icon }}
                <img src="{{ site.Params.logo.icon | absURL }}" alt="" aria-label="logo"
                    height="{{ site.Params.logo.iconHeight | default "30" }}">
                {{- end -}}
                {{- $label_text -}}
            </a>
            {{- end }}
        </div>

        <button id="menu-trigger" aria-label="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <ul id="menu" class="menu">
            {{- range site.Menus.main }}
            {{- $menu_item_url := (cond (strings.HasPrefix .URL "/") (.URL | relLangURL) .URL) | safeURL }}
            <li class="menu-item">
                <a href="{{ $menu_item_url }}" title="{{ .Title | default .Name }}">
                    {{ .Name }}
                </a>
            </li>
            {{- end }}
            
            <li class="menu-item search-item">
                <div class="search-wrapper">
                    <form action="{{ "search/" | absURL }}" method="get" class="search-form">
                        <input type="text" name="q" placeholder="جستجو..." class="search-input" autocomplete="off">
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</header>